-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*
-dontoptimize
-ignorewarnings

-keepattributes *Annotation*
-keepattributes JavascriptInterface
-keepattributes Signature

-libraryjars libs/android-support-v4.jar

-dontwarn android.support.v4.**    
-keep class android.support.v4.** { *; }  
-keep interface android.support.v4.app.** { *; }  
-keep public class * extends android.support.v4.**  
-keep public class * extends android.app.Fragment


-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-libraryjars libs/libammsdk.jar
-keep class com.tencent.mm.sdk.** {*;}

-keepclassmembers class fqcn.of.javascript.interface.for.webview {
   public *;
}

-libraryjars libs/egret.jar
-keep class org.egret.** {*;}
-keep class org.egret.android.** {*;}
-keep class org.egret.egretframeworknative.** {*;}
-keep class org.egret.runtime.** {*;}
-keep class com.xxxxx.xinhe.** {*;}

 -keep class com.qiniu.**{*;}
 -keep class com.qiniu.**{public <init>();}
 
-libraryjars   libs/umeng-analytics-v6.0.9.jar    
-keep class com.umeng.** { *; }

-keepclassmembers class * {
   public <init>(org.json.JSONObject);
}

#�������������warning���ڱ���warning�İ������������Ƶ�-dontwarn ����
-dontwarn com.amap.api.**
-dontwarn com.autonavi.aps.**
#�ߵ���ػ����ļ�
#Location
-keep   class com.amap.api.location.**{*;} 
-keep   class com.amap.api.fence.**{*;} 
-keep   class com.autonavi.aps.amapapi.model.**{*;} 